{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success text-dark" type="submit" name="submit" value="save">{{ button_label|default('Save and exit') }}</button>
    <button class="btn btn-success text-dark" type="submit" name="submit" value="add">{{ button_label|default('Save and add new') }}</button>
{{ form_end(form) }}
